body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-image: url("../assets/images/background-01.webp");
  background-size: 100%;
  background-repeat: no-repeat;
}
.heading{
display: flex;
justify-content: center;
padding-top: 7%;

}
.semi_heading{
padding-left: 10%;
padding-top: 2%;

}
.content{
display: flex;
justify-content: center;
padding-left: 10%;
padding-right: 10%;
padding-top: 2%;
text-shadow: 2%;
}
#content2{
padding-bottom: 5%;
}
.img{
  max-width: 20%;
  max-height: 20%;
}
.sub-img{
  max-width: 17%;
  max-height: 17%;
}

