body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-image: url("../assets/images/background-plain.webp");
  background-repeat: repeat-y;
  background-size: cover;
  background-attachment: fixed;
  background-position-y: bottom ;
}
@media (max-width: 640px){
	body{
	  background-image: url("../assets/bg/mobile-bg-plain.webp");
	  background-repeat: no-repeat;
	  background-size: cover;
	  background-attachment: fixed;
	  background-position-y: bottom ;
	}
  .content{
    display: flex;
    padding-left: 8%;
    padding-right: 8%;
    text-align: center;
    padding-top: 2%;
    text-shadow: 2%;
    background-color: white;
    opacity: 0.8;
    display: inline-block;
    text-align: justify;
    border-radius: 10px;
    /* font-size: 1.3rem; */
  }
  }
.heading{
display: flex;
justify-content: center;
padding-top: 7%;

}
.semi_heading{
display: inline-block;
text-align: left;
padding-top: 2%;

}
.content{
display: flex;
padding-left: 8%;
padding-right: 8%;
text-align: center;
padding-top: 2%;
text-shadow: 2%;
background-color: white;
opacity: 0.8;
display: inline-block;
text-align: justify;
border-radius: 10px;


}
#content2{
  margin-bottom: 5%;
  }
.img{
  max-width: 20%;
  max-height: 20%;
}
.sub-img{
  max-width: 20%;
  max-height: 20%;
}
.about_ren,.about_jecrc{
  display: inline-block;
  text-align: center;
  max-width: 70%;
  margin: auto;
  font-size: 1.5rem;
  
}
.background_img{
  text-align: center;
  padding-top: auto;
}

@media only screen and (max-width: 1000px){
  .background_img{
    text-align: center;
    padding-top: 5%;
    height: max-content;
  }
  .sub-img{
    max-width: 50%;
    max-height: 40%;
  }
  .about_ren,.about_jecrc{
    display: inline-block;
    max-width: 90%;
    margin: auto;
    font-size: x-large;
    margin-bottom: 2%;
    
}
.img{
  padding-top:7% ;
  padding-bottom: 5%;
  max-width: 65%;
  max-height: 40%;
}
}
@media only screen and (max-width: 1440px){
  .about_ren,.about_jecrc{
    display: inline-block;
    text-align: center;
    max-width: 80%;
    margin: auto;
    font-size: x-large;
    margin-bottom: 2%;
}
.background_img{
  text-align: center;
  padding-top: 5%;
  height: max-content;
}
}
@media only screen and (max-width: 1440px){
  .background_img{
    text-align: center;
    padding-top: 10%;
    height: max-content;
  }
}




