body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-image: url("../assets/images/background-01.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.heading{
display: flex;
justify-content: center;
padding-top: 7%;

}
.semi_heading{
display: inline-block;
text-align: left;
padding-top: 2%;

}
.content{
display: flex;
padding-left: 8%;
padding-right: 8%;
text-align: center;
padding-top: 2%;
text-shadow: 2%;
background-color: white;
opacity: 0.6;
display: inline-block;
text-align: justify;
border-radius: 3%;


}
#content2{
  margin-bottom: 5%;
  }
.img{
  max-width: 20%;
  max-height: 20%;
}
.sub-img{
  max-width: 20%;
  max-height: 20%;
}
.about_ren,.about_jecrc{
  display: inline-block;
  text-align: center;
  max-width: 70%;
  margin: auto;
  font-size: larger;
  
}
.background_img{
  text-align: center;
  padding-top: auto;
}

@media only screen and (max-width: 991px){
  .background_img{
    text-align: center;
    padding-top: 3%;
    height: max-content;
  }
  .sub-img{
    max-width: 30%;
    max-height: 30%;
  }
  .about_ren,.about_jecrc{
    display: inline-block;
    text-align: center;
    max-width: 90%;
    margin: auto;
    font-size: x-large;
    margin-bottom: 2%;
    
}
.img{
  max-width: 40%;
  max-height: 40%;
}

}
@media only screen and (max-width: 1440px){
  .about_ren,.about_jecrc{
    display: inline-block;
    text-align: center;
    max-width: 80%;
    margin: auto;
    font-size: x-large;
    margin-bottom: 2%;
}
}


