
  .outline-thick{
    border: rgba(255,255,255,1) 8px solid;
    border-radius: 21px;
  }
  .outline-thick img{
    border-radius: 10px;
  } 
  section{
    text-align: center;
  }
  .img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    display: flex;
    text-align: center;
    transition: .5s ease;
    border-radius: 13px;
    background-color: var(--secondary);
  }
  .col:hover .img-overlay{
    opacity: 1;
  }
  .landing-section{
    height: 100vh;
    background-image: url("../assets/logo/logos-01.png"),url("../assets/images/homepage.webp");
    
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .logo{
    max-width: 20%;
    max-height: 20%;
    
    text-align: center;
  }
  .logo-artist{
    margin-bottom: 2%;
  }
  .logo-gallery{
    margin-top: 3%;
  }
  #celebrity-section{
    height: 100vh;
  }
  
  @media only screen and (max-width: 500px) {
  .landing-section {
    height: 100vh;
    background-image:url("../assets/images/home page mobile-01.webp");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}