* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
  /* color: white; */
}
:root {
  /* --primary: #6c63ff; */
  /* --primary: #a81e28; */
  --primary : rgb(234, 178, 118);
  --secondary: rgb(20, 18, 16,0.9);
  --secondary-opaque: rgba(9, 10, 16, 1);
  --border-gray: rgba(100, 100, 100, 0.3);
  --dark-workspace-bg: rgba(6, 12, 34, 0.8);
  --accent-blue-dark: rgb(65, 157, 255);
  --accent-green: rgb(34, 193, 74);
  --accent-green-translucent: rgba(34, 193, 74, 0.2);
  --roboto: Arial, Helvetica, sans-serif;
  --bs-nav-link-color: rgb(234, 178, 118);
  --bs-link-color: rgb(234, 178, 118);
  --bs-link-hover-color:white;
}
html{
  font-size: 16px;
}

a{
  text-decoration: none;
}

h1{
  font-size: 4rem;
}
h2{
  font-size: 3rem;
}
h3{
  font-size: 2rem;
}
h4{
  font-size: 1.5rem;
}
h5{
  font-size: 1.2rem;
}
h6{
  font-size: 1rem;
}

.mobile-only {
  display: none;
}
.desktop-only {
  display: block;
}
@media only screen and (max-width: 990px) {
  html{
    font-size: 12px;
  }
  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }
  .navbar{
    right: 20vw !important;
    left: 20vw !important;
  }
}
@media only screen and (max-width: 1280px) {
  html{
    font-size: 14px;
  }
}

.navbar {
  top: 15px ;
  right: 15vw ;
  left: 15vw ;
  min-height:56px;
  border-radius: 35px;
  background-color: var(--secondary);
  
}


.drawer .nav-item{
  padding: 1rem 0;
}


.drawer-toggler:focus {
  box-shadow: none;
  border: none;
}
.drawer {
  z-index: 5000;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 75vw;
  height: 100vh;
  color: white;
  background-color: var(--secondary);
}

.drawer-active {
  left: 0px;
  transition: left 0.5s;
  transition-timing-function: linear;
  overflow: hidden !important;
}

.drawer-inactive {
  left: -75vw;
  transition: left 0.5s;
  transition-timing-function: linear;
  overflow: hidden !important;
}
footer {
  background-color: var(--secondary-opaque);
}

/* footer a{
  color: var(--primary);
  
} */

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: var(--dark-workspace-bg);
  display: none;
}
.footer-logo {
  height: 15rem;
  width: 15rem;
}
.button {
  background: none;
  border: 0;
  padding: 0.5rem 0.8rem;
  font-weight: 700;
  position: relative;
  vertical-align: middle;
}
.button::before,
.button::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.draw {
  transition: color 0.2s;
}
.draw::before,
.draw::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.draw::before {
  top: 0;
  left: 0;
}
.draw::after {
  bottom: 0;
  right: 0;
}
.draw:hover {
  color: var(--primary);
}
.draw:hover::before,
.draw:hover::after {
  width: 100%;
  height: 100%;
}
.draw:hover::before {
  border-top-color: var(--primary);
  border-right-color: var(--primary);
  transition: width 0.2s ease-out, height 0.2s ease-out 0.2s;
}
.draw:hover::after {
  border-bottom-color: var(--primary);
  border-left-color: var(--primary);
  transition: border-color 0s ease-out 0.4s, width 0.2s ease-out 0.4s,
    height 0.2s ease-out 0.6s;
}
.embed-overlay {
  position: sticky;
  z-index: 5;
}
.embed {
  position: fixed;
  left: 5vw;
  bottom: 5vh;
}

.underline {
	width: 80%;
	margin: 0.5rem auto;
	border: var(--primary) 2px solid;
}
.text-light{
  color: white !important;
}
.d-flex{
  padding: 0;
}

