@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900);

body {
	color: #4f585e;
	font-family: 'Source Sans Pro', sans-serif;
	text-rendering: optimizeLegibility;
	background-image: url("../assets/images/background-plain.webp");
	background-repeat: repeat-y;
	background-size: cover;
	background-attachment: fixed;
	background-position-y: bottom ;
}
@media (max-width: 1000px){
	body{
	  background-image: url("../assets/bg/mobile-bg-plain.webp");
	  background-repeat: repeat-y;
	  background-size: cover;
	  background-attachment: fixed;
	  background-position-y: bottom ;
	}
  }
.heading{
	padding-top: 7%;
	display: flex;
	justify-content: center;
}
.heading_img{
	height: 20%;
	width: 20%;
  }
  @media (max-width: 1000px){
	.heading{
	  display: flex;
	  justify-content: center;
	  padding-top: 25%;
	}
	.heading_img{
	  width: 65%;
	}
  }

  a.btn {
	background: #0096a0;
	border-radius: 4px;
	box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
	color: #ffffff;
	display: inline-block;
	padding: 6px 30px 8px;
	position: relative;
	text-decoration: none;
	transition: all 0.1s 0s ease-out;
}

.no-touch a.btn:hover {
	background: #00a2ad;
	box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
	transform: translateY(-2px);
	transition: all 0.25s 0s ease-out;
}

.no-touch a.btn:active,
a.btn:active {
	background: #008a93;
	box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.25);
	transform: translate3d(0, 1px, 0);
	transition: all 0.025s 0s ease-out;
}

div.cards {
	margin: 80px auto;
	max-width: 960px;
	text-align: center;
}

div.card {
	background: #ffffff;
	display: inline-block;
	margin: 8px;
	max-width: 300px;
	perspective: 1000;
	position: relative;
	text-align: left;
	transition: all 0.3s 0s ease-in;
	width: 300px;
	z-index: 1;
}

div.card img {
	max-width: 300px;
}

div.card .card__image-holder {
	background: rgba(0, 0, 0, 0.1);
	height: 0;
	padding-bottom: 75%;
}

