<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/activities.css">
  <link rel="stylesheet" href="../css/button.css">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <link rel="icon" type="image/png" href="../assets/logo/REN 23 logo.png" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
  <link rel="stylesheet" href="../css/main.css" />
  <title>Events & Activities | Renaissance 2023</title>
</head>

<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top p-0">
    <div class="container-fluid d-flex justify-content-between">
      <!-- <a class="navbar-brand cat mobile-only" href="index.html">
        <img src="logo.png" height="45" alt="logo" />
      </a> -->
      <button class="drawer-toggler mobile-only btn" id="drawer-toggler">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse">
        <!-- <a class="navbar-brand cat mx-5" href="index.html">
          <img src="logo.png" height="45" alt="logo" />
        </a> -->
        <ul class="navbar-nav m-auto">
          <div class="nav-item mx-2">
            <div class="container-fluid d-flex">
              <a class="nav-link active" href="../index.html">
                <div class="button draw">Home</div>
              </a>
            </div>
          </div>
          <li class="nav-item mx-2">
            <div class="container-fluid d-flex">
              <a class="nav-link active" href="../index.html#celebrity-section">
                <div class="button draw">Celebrity</div>
              </a>
            </div>
        </li>
          <li class="nav-item mx-2">
            <div class="container-fluid d-flex">
              <a class="nav-link active" href="events.html">
                <div class="button draw">Events</div>
              </a>
            </div>
          </li>
          <li class="nav-item mx-2">
            <div class="container-fluid d-flex">
              <a class="nav-link active" href="itienary.html">
                <div class="button draw">Itinerary</div>
              </a>
            </div>
          </li>
          <li class="nav-item mx-2">
            <div class="container-fluid d-flex">
              <a class="nav-link active" href="sponsor.html">
                <div class="button draw">Sponsors</div>
              </a>
            </div>
          </li>
          <li class="nav-item mx-2">
            <div class="container-fluid d-flex">
              <a class="nav-link active" href="about.html">
                <div class="button draw">About</div>
              </a>
            </div>
          </li>
          <li class="nav-item mx-2">
            <div class="container-fluid d-flex">
              <a class="nav-link active" href="teamcard.html">
                <div class="button draw">Team</div>
              </a>
            </div>
          </li>
          <li class="nav-item mx-2">
            <div class="container-fluid d-flex">
              <a class="nav-link active" href="#footer">
                <div class="button draw">Contact Us</div>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- =-=-=-=-=-=-=-=-=-=-=-=-= Drawer Starts =-=-=-=-=-=-==-=-=-=-===-=-= -->
  <div class="drawer drawer-inactive navbar-collapse fixed-top" expanded="false" id="drawer">
    <div class="d-flex dog p-3 justify-content-between" style="background-color: rgba(9, 10, 16, 1)">
      <h3>Menu</h3>
      <button class="btn btn-outline-danger" id="drawer-close-btn">&#10006;</button>
    </div>
    <ul class="navbar-nav p-5">
      <li class="nav-item">
        <div class="container-fluid">
          <a class="nav-link active d-flex px-2" href="../index.html">
            <h4 class="my-auto mouse">Home</h4>
          </a>
        </div>
      </li>
      <li class="nav-item">
        <div class="container-fluid">
          <a class="nav-link active d-flex px-2" href="../index.html#celebrity-section">
            <h4 class="my-auto mouse">Celebrity</h4>
          </a>
        </div>
      </li>
      <li class="nav-item">
        <div class="container-fluid">
          <a class="nav-link active d-flex px-2" href="events.html">
            <h4 class="my-auto mouse">Events </h4>
          </a>
        </div>
      </li>
      <li class="nav-item">
        <div class="container-fluid">
          <a class="nav-link active d-flex px-2" href="itienary.html">
            <h4 class="my-auto mouse">Itinerary</h4>
          </a>
        </div>
      </li>
      <li class="nav-item">
        <div class="container-fluid">
          <a class="nav-link active d-flex px-2" href="sponsor.html">
            <h4 class="my-auto mouse">Sponsors</h4>
          </a>
        </div>
      </li>
      <li class="nav-item">
        <div class="container-fluid">
          <a class="nav-link active d-flex px-2" href="about.html">
            <h4 class="my-auto mouse">About</h4>
          </a>
        </div>
      </li>
      <li class="nav-item">
        <div class="container-fluid">
          <a class="nav-link active d-flex px-2" href="teamcard.html">
            <h4 class="my-auto mouse">Teams</h4>
          </a>
        </div>
      </li>
      <li class="nav-item">
        <div class="container-fluid">
          <a class="nav-link active d-flex px-2" href="#footer">
            <h4 class="my-auto mouse">Contact Us</h4>
          </a>
        </div>
      </li>
    </ul>
  </div>
  <div id="mobile-body-overly"></div>
  <!-- navbar end -->
  <section id="background_img">
    <div class="heading">
      <img src="../assets/images/events.webp" class="heading_img">
    </div>
    <div class="top-button">
      <!-- <button class="btn btn-outline-primary" id="show-tech">technical</button>
    <button class="btn btn-outline-primary" id="show-cultural">cultural</button>
    <button class="btn btn-outline-primary" id="show-splash">Splash</button> -->
      <button class="button-top cultural-btn" onclick="addAnimation()" id="show-tech">
        CULTURAL
      </button>
      <button class="button-top tech-btn" onclick="addAnimation2()" id="show-cultural">
        TECHNICAL
      </button>
      <button class="button-top splash-btn" onclick="addAnimation2()" id="show-splash">
        SPLASH
      </button>
    </div>

    <!-- card section -->

    <!-- tech section -->
    <section id="tech" class="visible-section">
      <ul class="cards-list">
	
        <li class="cards">
            <a class="cards-image" href="#" target="_blank" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/psychopomp-100.jpg);" data-image-full="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/psychopomp-500.jpg">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/psychopomp-100.jpg" alt="Psychopomp" />
            </a>
            <a class="cards-description" href="https://michellezauner.bandcamp.com/album/psychopomp-2" target="_blank">
                <h2>Psychopomp</h2>
                <p>Japanese Breakfast</p>
            </a>
        </li>
        
        <li class="cards">
            <a class="cards-image" href="#" target="_blank" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/lets-go-100.jpg);" data-image-full="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/lets-go-500.jpg">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/lets-go-100.jpg" alt="let's go" />
            </a>
            <a class="cards-description" href="https://inlovewithaghost.bandcamp.com/album/lets-go" target="_blank">
                <h2>let's go</h2>
                <p>In Love With A Ghost</p>
            </a>
        </li>
        
        <li class="cards">
            <a class="cards-image" href="#" target="_blank" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/beautiful-game-100.jpg);" data-image-full="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/beautiful-game-500.jpg">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/beautiful-game-100.jpg" alt="The Beautiful Game" />
            </a>
            <a class="cards-description" href="https://vulfpeck.bandcamp.com/album/the-beautiful-game" target="_blank">
                <h2>The Beautiful Game</h2>
                <p>Vulfpeck</p>
            </a>
        </li>
        
        <li class="cards">
            <a class="cards-image" href="#" target="_blank" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/jane-doe-100.jpg);" data-image-full="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/jane-doe-500.jpg">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/jane-doe-100.jpg" alt="Jane Doe" />
            </a>
            <a class="cards-description" href="https://convergecult.bandcamp.com/album/jane-doe" target="_blank">
                <h2>Jane Doe</h2>
                <p>Converge</p>
            </a>
        </li>
        
    </ul>
    </section>

    <!-- cultural event -->
    <section id="cultural" class="hidden-section">
      <ul class="cards-list">
	
        <li class="cards">
            <a class="cards-image" href="https://michellezauner.bandcamp.com/album/psychopomp-2" target="_blank" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/psychopomp-100.jpg);" data-image-full="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/psychopomp-500.jpg">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/psychopomp-100.jpg" alt="Psychopomp" />
            </a>
            <a class="cards-description" href="https://michellezauner.bandcamp.com/album/psychopomp-2" target="_blank">
                <h2>Psychopomp</h2>
                <p>Japanese Breakfast</p>
            </a>
        </li>
        
        <li class="cards">
            <a class="cards-image" href="https://inlovewithaghost.bandcamp.com/album/lets-go" target="_blank" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/lets-go-100.jpg);" data-image-full="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/lets-go-500.jpg">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/lets-go-100.jpg" alt="let's go" />
            </a>
            <a class="cards-description" href="https://inlovewithaghost.bandcamp.com/album/lets-go" target="_blank">
                <h2>let's go</h2>
                <p>In Love With A Ghost</p>
            </a>
        </li>
        
        <li class="cards">
            <a class="cards-image" href="https://vulfpeck.bandcamp.com/album/the-beautiful-game" target="_blank" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/beautiful-game-100.jpg);" data-image-full="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/beautiful-game-500.jpg">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/beautiful-game-100.jpg" alt="The Beautiful Game" />
            </a>
            <a class="cards-description" href="https://vulfpeck.bandcamp.com/album/the-beautiful-game" target="_blank">
                <h2>The Beautiful Game</h2>
                <p>Vulfpeck</p>
            </a>
        </li>
        
        <!-- <li class="cards">
            <a class="cards-image" href="https://convergecult.bandcamp.com/album/jane-doe" target="_blank" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/jane-doe-100.jpg);" data-image-full="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/jane-doe-500.jpg">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/jane-doe-100.jpg" alt="Jane Doe" />
            </a>
            <a class="cards-description" href="https://convergecult.bandcamp.com/album/jane-doe" target="_blank">
                <h2>Jane Doe</h2>
                <p>Converge</p>
            </a>
        </li> -->
        
    </ul>
    </section>

    <!-- splash section -->

    <section id="splash" class="hidden-section">
      <ul class="cards-list">
	
        <li class="cards">
            <a class="cards-image" href="https://michellezauner.bandcamp.com/album/psychopomp-2" target="_blank" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/psychopomp-100.jpg);" data-image-full="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/psychopomp-500.jpg">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/psychopomp-100.jpg" alt="Psychopomp" />
            </a>
            <a class="cards-description" href="https://michellezauner.bandcamp.com/album/psychopomp-2" target="_blank">
                <h2>Psychopomp</h2>
                <p>Japanese Breakfast</p>
            </a>
        </li>
        
        <li class="cards">
            <a class="cards-image" href="https://inlovewithaghost.bandcamp.com/album/lets-go" target="_blank" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/lets-go-100.jpg);" data-image-full="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/lets-go-500.jpg">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/lets-go-100.jpg" alt="let's go" />
            </a>
            <a class="cards-description" href="https://inlovewithaghost.bandcamp.com/album/lets-go" target="_blank">
                <h2>let's go</h2>
                <p>In Love With A Ghost</p>
            </a>
        </li>
        
        <li class="cards">
            <a class="cards-image" href="https://vulfpeck.bandcamp.com/album/the-beautiful-game" target="_blank" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/beautiful-game-100.jpg);" data-image-full="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/beautiful-game-500.jpg">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/beautiful-game-100.jpg" alt="The Beautiful Game" />
            </a>
            <a class="cards-description" href="https://vulfpeck.bandcamp.com/album/the-beautiful-game" target="_blank">
                <h2>The Beautiful Game</h2>
                <p>Vulfpeck</p>
            </a>
        </li>
        
        <li class="cards">
            <a class="cards-image" href="https://convergecult.bandcamp.com/album/jane-doe" target="_blank" style="background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/jane-doe-100.jpg);" data-image-full="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/jane-doe-500.jpg">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/310408/jane-doe-100.jpg" alt="Jane Doe" />
            </a>
            <a class="cards-description" href="https://convergecult.bandcamp.com/album/jane-doe" target="_blank">
                <h2>Jane Doe</h2>
                <p>Converge</p>
            </a>
        </li>
        
    </ul>
    </section>
  </section>
  <footer id="footer" class="footer text-light mt-auto p-0">
    <div class="container-fluid px-5 py-4">
      <div class="row justify-content-evenly">
        <div class="col-xs-6 col-sm-3 column text-center d-flex flex-column">
          <div class="my-4"><img src="../assets/logo/REN 23 logo.png" class="footer-logo" /></div>
        </div>
        <!-- <div class="col-xs-6 col-sm-3 column text-center d-flex flex-column">
          <h4>
            <font color="white">Useful links</font>
          </h4>
          <hr class="underline" />
          <ul class="list-unstyled py-4">
            <li>
              <a class="nav-link active" style="color: azure" href="{%url 'contact'%}">Events & Itinerary</a>
            </li>
            <li>
              <a class="nav-link active" style="color: azure" href="{%url 'about'%}">About</a>
            </li>
            <li>
              <a class="nav-link active" style="color: azure" href="#">Sponsors</a>
            </li>
            <li>
              <a class="nav-link active" style="color: azure" href="{%url 'policy'%}">Team</a>
            </li>
            <li>
              <a class="nav-link active" style="color: azure" href="#">Home</a>
            </li>
          </ul>
        </div> -->
        <div class="col-xs-12 col-sm-3 column text-center d-flex flex-column">
          <h4>Contact Us
          </h4>
          <hr class="mb-4 underline" />
          <ul class="list-unstyled py-4">
            <li>
              <a class="nav-link">Technical</a>
            </li>
            <li>
              <a class="nav-link">Cultural</a>
            </li>
            <li>
              <a class="nav-link">Splash</a>
            </li>
            <li>
              <a class="nav-link">Team</a>
            </li>
            <li>
              <a class="nav-link">Home</a>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-3 text-center d-flex flex-column">
          <h4>Follow Us</h4>
          <hr class="underline" />
          <div class="row justify-content-center">
            <h6 class="my-3">JECRC Renaissance</h6>
            <div class="d-flex justify-content-center">
              <div class="m-2">
                <a rel="nofollow" class="navbar-brand" href="" title="Twitter">
                  <img loading="lazy" src="../assets/icons/youtube.png" height="40px" />
                </a>
              </div>
              <div class="m-2">
                <a rel="nofollow" class="navbar-brand" href="" title="Facebook">
                  <img loading="lazy" src="../assets/icons/facebook.png" height="40px" />
                </a>
              </div>
              <div class="m-2">
                <a rel="nofollow" class="navbar-brand" href="https://www.instagram.com/khushaljangid.04/"
                  title="instagram">
                  <img loading="lazy" src="../assets/icons/instagram.png" height="40px" />
                </a>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <h6 class="my-3">JECRC Foundation</h6>
            <div class="d-flex justify-content-center">
              <div class="m-2">
                <a rel="nofollow" class="navbar-brand" href="" title="Twitter">
                  <img loading="lazy" src="../assets/icons/youtube.png" height="40px" />
                </a>
              </div>
              <div class="m-2">
                <a rel="nofollow" class="navbar-brand" href="" title="Facebook">
                  <img loading="lazy" src="../assets/icons/facebook.png" height="40px" />
                </a>
              </div>
              <div class="m-2">
                <a rel="nofollow" class="navbar-brand" href="https://www.instagram.com/khushaljangid.04/"
                  title="instagram">
                  <img loading="lazy" src="../assets/icons/instagram.png" height="40px" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column text-center py-4 m-0" style="background-color: rgba(20, 22, 30, 1)">
      <div class="copyright m-auto">
        <p class="my-2">&copy; Copyright <strong>Jecrc Foundation</strong>. All Rights Reserved</p>
      </div>
      <div class="credits m-auto">
        <p class="my-2">Developed by</p>
        <p class="my-2">Graphics Designed by</p>
      </div>
    </div>
  </footer>
  <script src="../js/activities.js"></script>
  <script src="../js/main.js"></script>
</body>

</html>